# 1. Flutter/Dart Related
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
# *.g.dart
# *.freezed.dart

# 2. Android Related
# ------------------
android/**/generated/
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/app/build/
android/.idea/
*.jks
*.keystore

# 3. iOS/macOS Related
# --------------------
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.framework
ios/**/ServiceAccount.json
.LSOverride

# 4. Desktop (Windows/Linux/Web)
# ------------------------------
windows/flutter/ephemeral/
linux/flutter/ephemeral/
.target/
node_modules/
/build/

# 5. IDEs & Editors
# -----------------
.idea/
*.iml
*.ipr
*.iws
.vscode/
.history
*.sublime-project
*.sublime-workspace

# 6. Firebase & Secrets (مهم جداً للخصوصية)
# ----------------------------------------
.env
*secret*
# 7. Miscellaneous (الكركبة)
# -------------------------
*.log
*.temp
*.tmp
*.swp
.DS_Store
Thumbs.db
pglite-debug.log
lib/firebase_options.dart